exportPattern("^[[:alpha:]]+") # export names that start with a letter 

import(survival)
importFrom(muhaz, muhaz, plot.muhaz, lines.muhaz)
importFrom(car, linearHypothesis)
importFrom(graphics, lines, plot)
importFrom(stats, model.extract, terms, qnorm, approx,
           profile, fitted, qt, spline, coef, confint)

## importFrom(KMsurv,lifetab)
## importFrom(MASS,confint)

